.container {
  background-color: #161b22;
  padding: 25px;
  border: 1px solid rgba(255, 255, 255, 0.062);
  border-radius: 10px;
  width: 400px;
  height: 100%;
}

.texts {
  margin-top: 20px;
  text-align: center;
}

.title {
  color: white;
  font-weight: 600;
  font-size: x-large;
  height: 15px;
}

.subTitle {
  color: gray;
  margin-top: 30px;
}

.form {
  margin-top: 20px;
}

label {
  display: flex;
  font-weight: 500;
  font-size: 14px;
}

.form input {
  user-select: none;
  width: 100%;
  margin: 5px 0 15px 0;
  background-color: #0d1117;
  border: 1px solid rgba(245, 245, 245, 0.199);
  border-radius: 7px;
  padding: 10px 0 10px 10px;
  color: white;
  font-size: 14px;
  box-sizing: border-box;
}

input:focus {
  border: 1px solid gray;
  outline: none;
}

.button button {
  user-select: none;
  width: 100%;
  margin-top: 15px;
  background-color: #3134ce;
  border: none;
  border-radius: 7px;
  padding: 10px 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.1s;
  font-weight: 600;
}

.button button:hover {
  background-color: rgba(58, 58, 58, 0.466);
}

.agreement {
  color: gray;
  display: flex;
  font-size: small;
  height: 40px;
}

.agreement span {
  user-select: none;
  color: white;
  cursor: pointer;
}

.agreement span:hover {
  color: #0066ff;
}
