.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(13, 17, 23, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.062);
  height: 60px;
  padding: 0 20px;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.logo svg {
  font-size: 35px;
  padding: 6px;
  background-color: rgba(58, 58, 58, 0.466);
  border-radius: 15px;
}

.logo p {
  font-size: larger;
  font-weight: 600;
}

.search {
  width: 400px;
}

.search input:focus {
  border: 1px solid gray;
}

.buttons {
  display: flex;
}

.buttons div {
  margin: 0 10px;
}

.navlinks a {
  padding: 7px 20px;
  margin: 0 20px;
  border-radius: 7px;
  transition: background-color 0.2s ease;
}

.navlinks a:hover {
  background-color: #3232335d;
}

.navlinks a.isActive {
  background-color: #3134ce;
  color: white;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  cursor: pointer;
  transition: 0.2s;
}

.auth a {
  font-weight: 600;
  margin: 0 10px;
}

.auth a:hover {
  color: #0066ff;
}
